@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-harmattan {
  font-family: "Harmattan", sans-serif;
}

@theme
{
    --font-title: "Harmattan", sans-serif;
    --font-arabic: "Noto Sans Arabic", sans-serif;
    --font-quran: "Scheherazade New", serif;
    /* Light-Mode */
    --color-primary-100:#FF7F50;
    --color-primary-200:#dd6236;
    --color-primary-300:#8f1e00;
    --color-accent-100:#8B4513;
    --color-accent-200:#ffd299;
    --color-text-100:#000000;
    --color-text-200:#2c2c2c;
    --color-bg-100:#F7EEDD;
    --color-bg-200:#ede4d3;
    --color-bg-300:#c4bcab;
    /* Dark-Mode */
    --color-dark-text-100:#FFFFFF;
    --color-dark-text-200:#d1d1d1;
    --color-dark-bg-100:#1a1a1a;
    --color-dark-bg-200:#2c2c2c;
    --color-dark-bg-300:#3f3f3f;
}

